{
	"presets": [
		"@babel/preset-typescript",
		"@babel/preset-react",
		"@babel/preset-env"
	],
	"plugins": [
		"react-hot-loader/babel",
		"@babel/plugin-external-helpers",
		"@babel/plugin-transform-runtime",
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true
			}
		],
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"import",
			{
				"libraryName": "antd-mobile",
				"style": true
			},
			"@babel/plugin-syntax-dynamic-import"
		] // `style: true` 会加载 less 文件
	]
}